#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(212, 247, 212);
  color: rgb(2, 73, 2);
  margin: 5%;
  padding: 20px;
}

.link {
  padding: 30px;
}

.dashboard {
  padding-left: 50px;
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
  border: solid;
  border-color: rgb(2, 73, 2);
}

tr > th {
  border: solid;
  border-width: 2px;
  border-color: rgb(2, 73, 2);
  padding-right: 20px;
  text-align: left;
  margin: 0px;
}

tr > td {
  border: solid;
  border-width: 1px;
  border-color: rgb(2, 73, 2);
  padding-right: 20px;
  text-align: left;
}

#update-delete {
  text-align: center;
}

.form {
  margin: 30px;
}

.form-field {
  padding: 30px;
}

.label {
  padding-right: 10px;
}

input, select {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  padding-top: 50px;
}